body {
  background-color: rgb(46, 102, 46);
}
h1 , h2 {
  background-color: rgba(245, 245, 220, 0.726);
  text-align: center;
  color: rgb(9, 113, 9);
}
a:link, a:visited {
  text-decoration: none;
  background-color: rgb(245, 245, 220, 0.726);
}
li {
  color: white;
  font-weight: bold;
  font-size: 18px;
  gap: 10px;
}
img {
  margin: 10px;
  width: 300px;
  height: auto;
}
p {
  color: white;
}
